.card-body {
  line-height: 1.5;
}

.card {
  padding: 0 0.4rem;
}

.card-title {
  font-weight: 700;
  font-family: var(--ff-secondary);
  letter-spacing: 0.05em;
  font-size: 1.5rem;
}

@container (inline-size > 1024px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;

    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .card-section section:nth-of-type(even) .card-img {
    order: 2;
  }

  .card-section section:nth-of-type(even) .card-body {
    order: 1;
  }
}
