footer {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--VeryDarkCyan);
  position: relative;
  /* border: 4px dotted red; */
}

footer::after {
  position: absolute;
  content: "";
  background: url("../images/bg-footer-top-mobile.svg") no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100px;
  top: -50px;
}

@container (inline-size > 1024px) {
  footer::after {
    background: url("../images/bg-footer-top-desktop.svg") no-repeat;
    height: 300px;
    top: -150px;
  }
}
